/* aqui comienza estilo responsivo para que se mire el los celulares*/
body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
        float: left;
}

ul.topnav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 7px 7px;
            text-decoration: none;
}

 ul.topnav li a:hover:not(.active) {
                background-color: black;
}

ul.topnav li a.active {
                background-color: black;
}

ul.topnav li.right {
            float: right;
 }

@media screen and (max-width:60px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}
/* aqui termina estilo responsivo para que se mire el los celulares*/


