
@{
    ViewBag.Title = "Ropa";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/Css/Hover.css" rel="stylesheet" />
<link href="~/Css/ImagenZoom.css" rel="stylesheet" />


@*<h2>Ropa</h2>*@
<br />
<form class="row row-cols-1 row-cols-md-3" action="/" method="post">

    <!--primer carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/0209-03.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/0209-06.JPG" class="card-img-top" alt="...">
                        <div class="middle">
                            <a class="text" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/0209-03.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/0209-03.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/0209-03.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin primer carta-->
    <!--dos carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/0209-06.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/0209-07.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/0209-06.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/0209-06.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/0209-06.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin dos carta-->
    <!--tres carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/0209-07.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/120919-12.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/0209-07.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/0209-07.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/0209-07.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin tres carta-->
    <!--cuatro carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/120919-12.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/120919-13.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/120919-12.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/120919-12.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/120919-12.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin cuatro carta-->
    <!--cinco carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/120919-13.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/120919-20.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/120919-13.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/120919-13.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/120919-13.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin cinco carta-->
    <!--sexta carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/120919-20.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/120919-24.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/120919-20.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/120919-20.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/120919-20.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin seis carta-->
    <!--septima carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/120919-24.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/120919-24.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/120919-24.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/120919-24.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin siete carta-->
    <!--ocho carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/120919-25.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/120919-27.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/120919-25.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/120919-25.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/120919-25.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin ocho carta-->
    <!--nueve carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/120919-27.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/151119-01.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/120919-27.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/120919-27.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/120919-27.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin novena carta-->
    <!--diez carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/151119-01.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/151119-04.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/151119-01.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/151119-01.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/151119-01.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin diez carta-->
    <!--once carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/151119-04.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/151119-14.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/151119-04.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/151119-04.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/151119-04.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin once carta-->
    <!--duodecima carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/151119-14.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/151119-15.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/151119-14.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/151119-14.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/151119-14.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin doce carta-->
    <!--treceava carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/151119-15.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/151119-16.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/151119-15.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/151119-15.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/151119-15.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin trece carta-->
    <!--catorciava carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/151119-16.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/151119-20.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/151119-16.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/151119-16.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/151119-16.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin catorciava carta-->
    <!--quince carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/151119-20.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/151119-29.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/151119-20.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/151119-20.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/151119-20.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin quince carta-->
    <!--16 carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/151119-29.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/151119-32.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/151119-29.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/151119-29.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/151119-29.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin 16 carta-->
    <!--17 carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/151119-32.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/15111930.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/151119-32.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/151119-32.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/151119-32.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin 17 carta-->
    <!--18 carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/15111930.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/1909-07.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/15111930.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/15111930.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/15111930.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin 18 carta-->
    <!--19 carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/1909-07.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/1909-08.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/1909-07.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/1909-07.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/1909-07.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin 19 carta-->
    <!--20 carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/1909-08.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/281019-13.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/1909-08.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/1909-08.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/1909-08.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin 20 carta-->
    <!--21 carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/281019-13.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/281019-14.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/281019-13.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/281019-13.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/281019-13.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin 21 carta-->
    <!--22 carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/281019-14.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/281019-15.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/281019-14.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/281019-14.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/281019-14.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin 22 carta-->
    <!--23 carta-->
    <div class="col mb-4">
        <div class="card h-100">
            <div class="hovereffect">
                <img src="~/Cards/281019-15.JPG" class="card-img-top" alt="...">
                <div class="overlay">
                    <div class="card-body">
                        <img src="~/Cards/0209-03.JPG" class="card-img-top" alt="...">
                        <div class="text">
                            <a class="btn btn-outline-success" href="~/Promociones/Promociones">AGREGAR<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <h5 class="card-title">JERSEY DE RAYA</h5>
                <p class="card-text">Precio: $100.</p>
                <a style="color:red; float:right" href="~/Novedades/Novedades" data-toggle="tooltip" title="Me gusta" class="fas fa-heart"><span class="sr-only">(current)</span></a>
                <label>Color: <a href="~/Cards/281019-15.JPG" class="btn btn-primary"></a></label>
                <label><a href="~/Cards/281019-15.JPG" class="btn btn-info"></a></label>
                <label><a href="~/Cards/281019-15.JPG" class="btn btn-danger"></a></label>
            </div>
        </div>
    </div>
    <!--fin 23 carta-->

</form>
<div class="container">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
    </ul>
</div>


