
@{
    ViewBag.Title = "Anuncio";
}

<h2>Anuncio</h2>

<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 500px;
    }
    /* Make the image fully responsive */
</style>
<!--CARUSEL-->
<body>
    <br />
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>


        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Saludo/gracias.png" alt="">
                <div class="carousel-caption">

                </div>
            </div>

        </div>


        <!-- Controls -->
        <a class="left carousel-control" href="#demo" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#demo" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <hr />

    <div class="jumbotron">
        <h1>Ingrese a su Correo</h1>
        <p>y cierre esta pestaña para dar de alta su correo..</p>
    </div>

</body>

